name: Build

on:
  push:
    branches:
      - develop
  pull_request:

jobs:
  build:
    strategy:
      matrix:
        os: [macOS-latest]
    runs-on: ${{matrix.os}}
    name: Build on ${{matrix.os}}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Java
          uses: actions/setup-java@v1
          with:
            java-version: 1.8

      - name: Set up cache
        uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ matrix.os }}-gradle-${{ hashFiles('**/*.gradle*') }}
          restore-keys: |
            ${{ matrix.os }}-gradle-

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1

      - name: Ktlint check
        uses: ./gradlew ktlint

      - name: Build macOS
        if: matrix.os == 'macOS-latest'
        run: ./gradlew build

      - name: Build Linux
        if: matrix.os == 'ubuntu-latest'
        run: ./gradlew build

      - name: Bundle the build report
        if: failure()
        run: find . -type d -name 'reports' | zip -@ -r build-reports.zip

      - name: Upload the build report
        if: failure()
        uses: actions/upload-artifact@master
        with:
          name: error-report
          path: build-reports.zip
